* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lunasima', sans-serif;
    text-decoration: none;
}

/*Header*/

header{
    height: 95px;
    min-height: 110px;
}

body {
    background-image: url(./../images/img/fondo.jpg);
    
}
.fondoHeader{
    background-color: #70d0df;
}

.logo{
    width: 220px;
}
.container{
    border: 3px solid black;
}
.advertencia {
    color: red;
}
